<div style="margin-block-end:30px">
                <span style="font-size:32px">Server Configuration</span>

            </div>
            <div style="margin-block-end:32px">
                <span style="font-size:26px">General</span>
                <form style="padding-inline-start:32px" method="POST" action="{{ url_for('backstage_config') }}">
                    <input type="hidden" name="type" value="general" />
                    Hostname: <input type="text" name="hostname" placeholder="Hostname" /><br />
                    <input type="submit" value="Save settings" />
                </form>
            </div>
            <div style="margin-block-end:32px">
                <span style="font-size:26px">MySQL/MariaDB</span>
                <form style="padding-inline-start:32px" method="POST" action="{{ url_for('backstage_config') }}">
                    <input type="hidden" name="type" value="mysql" />
                    Server address: <input type="text" placeholder="Server address" name="hostname" value="{{ config.mysql.hostname }}"/><br />
                    Server portno: <input type="text" placeholder="Server port number" name="portno" value="{{ config.mysql.portno }}"/><br />
                    Database name: <input type="text" placeholder="Database name" name="db_name" value="{{ config.mysql.db_name }}"/><br />
                    Database user: <input type="text" placeholder="Database user" name="db_username" value="{{ config.mysql.db_username }}"/><br />
                    Database password: <input type="password" placeholder="Database password" name="db_password" value="{{ config.mysql.db_password }}"/><br />
                    <input type="submit" value="Save settings" />
                </form>
            </div>
            <div style="margin-block-end:32px">
                <span style="font-size:26px">Redis</span>
                <form style="padding-inline-start:32px" method="POST" action="{{ url_for('backstage_config') }}">
                    Server address: <input type="text" placeholder="Server address" name="hostname" value="{{ config.redis.hostname }}"/><br />
                    Server portno: <input type="text" placeholder="Server port number" name="portno" value="{{ config.redis.portno }}"/><br />
                    <input type="submit" value="Save settings" />
                </form>
            </div>
            <div style="margin-block-end:32px">
                <span style="font-size:26px">Docker</span><br />
                <span style="font-size:60%">Use this part only if you have to use a docker daemon that runs on a different location.</span>
                <form style="padding-inline-start:32px">
                    Server address: <input type="text" placeholder="Server address" /><br />
                    Server portno: <input type="text" placeholder="Server port number" /><br />
                    <input type="submit" value="Save settings" />
                </form>
            </div>