    <div style="margin-block-end:30px">
        <span style="font-size:32px">Server Info</span>
    </div>
    <div>
        <span style="font-size:26px">MySQL/MariaDB</span>
        <span class="main-right-button">
                                        <a href="{{ url_for('backstage_config') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                <path d="M12 20h9"></path>
                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
            </svg></a>
        </span><br />
        <div style="margin-inline-start:40px">
            Server address: {{ config.mysql.hostname }}<br />
            Server portno: {{ config.mysql.portno }}<br />
            Server username: {{ config.mysql.db_user }}<br />
            Database name: {{ config.mysql.db_name }}<br />
        </div>
    </div>
    <div>
        <span style="font-size:26px">Redis</span>
                                    <span class="main-right-button">
                                        <a href="{{ url_for('backstage_config') }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                                            <path d="M12 20h9"></path>
                                            <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                        </svg></a>
                                    </span><br />
            <div style="margin-inline-start:40px">
                Server address: {{ config.redis.hostname }}<br />
                Server portno: {{ config.redis.portno }}<br />
            </div>
    </div>
    <div>
        <span style="font-size:26px">Docker</span>
                                    <span class="main-right-button">
                                        <a href="{{ url_for('backstage_config') }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                                            <path d="M12 20h9"></path>
                                            <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                        </svg></a>
                                    </span><br />
            <div style="margin-inline-start:40px">
                Server address: (null)<br />
            </div>
    </div>