

<div style="margin-block-end:32px">
    <span style="font-size:26px">New Action</span>
    <form style="padding-inline-start:32px" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="lang" value="{{ lang_name }}" />
        Action type: <select name="group">
            <option value="Project">Project</option>
            <option value="Build">Build</option>
            <option value="Run">Run</option>
            </select><br />
        Action name: <input type="text" name="name" placeholder="Action name" /><br />
        Action path: <input type="text" name="action_name" placeholder="Action path" /><br />
        Action conf. package: <input name="file" type="file" /><br />
        <input type="submit" value="Create action" />
    </form>
</div>