<div style="margin-block-end:30px">
                <span style="font-size:32px">Action Management</span>

            </div>
            <div style="margin-block-end:32px">
                <span style="font-size:26px">New Action</span>
                <form style="padding-inline-start:32px">
                    Action type: <select>
                        <option>Project</option>
                        <option>Build</option>
                        <option>Run</option>
                        </select><br />
                    Action name: <input type="text" placeholder="Action name" /><br />
                    Action path: <input type="text" placeholder="Action path" /><br />
                    Action conf. package: <input type="file" /><br />
                    <input type="submit" value="Create action" />
                </form>
            </div>
            <div style="margin-block-end:32px">
                <span style="font-size:26px">Project</span>
                <div style="margin-inline-start:32px">
                    <table>
                        <tr>
                            <td>Action name</td>
                            <td>Action id</td>
                            <td>Action docker image</td>
                            <td>Edit conf.</td>
                            <td>Build image</td>
                            <td>Remove action</td>
                        </tr>
                        {% for run_action in action_list.Project %}
                        <tr>
                            <td>{{ action_list.Project[run_action].name }}</td>
                            <td><code>{{ run_action }}</code></td>
                            <td><code>{{ action_list.Project[run_action].image }}</code></td>
                            <td><span class="main-right-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                            </span></td>
                            <td>
                            <span class="main-right-button">
                            <a href="{{ url_for('backstage_lang_build', lang_name=lang_name, group='Project', action=run_action) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box">
                                <path d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"></path>
                                <polyline points="2.32 6.16 12 11 21.68 6.16"></polyline>
                                <line x1="12" y1="22.76" x2="12" y2="11"></line>
                            </svg></a>
                            </span></td>
                            <td>
                            <span class="main-right-button">
                            <a href="{{ url_for('backstage_lang_actionremove', lang=lang_name, group='Project', id=run_action) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg></a>
                            </span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div style="margin-block-end:32px">
                <span style="font-size:26px">Build</span>
                <div style="margin-inline-start:32px">
                    <table>
                        <tr>
                            <td>Action name</td>
                            <td>Action path</td>
                            <td>Action docker image</td>
                            <td>Edit conf.</td><td>Build image</td>
                            <td>Remove action</td>
                        </tr>
                        {% for run_action in action_list.Build %}
                        <tr>
                            <td>{{ action_list.Build[run_action].name }}</td>
                            <td><code>{{ run_action }}</code></td>
                            <td><code>{{ action_list.Build[run_action].image }}</code></td>
                            <td><span class="main-right-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                            </span></td>
                            <td>
                            <span class="main-right-button">
                            <a href="{{ url_for('backstage_lang_build', lang_name=lang_name, group='Build', action=run_action) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box">
                                <path d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"></path>
                                <polyline points="2.32 6.16 12 11 21.68 6.16"></polyline>
                                <line x1="12" y1="22.76" x2="12" y2="11"></line>
                            </svg></a>
                            </span></td>
                            <td>
                            <span class="main-right-button">
                            <a href="{{ url_for('backstage_lang_actionremove', lang=lang_name, group='Build', id=run_action) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg></a>
                            </span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div style="margin-block-end:32px">
                <span style="font-size:26px">Run</span>
                <div style="margin-inline-start:32px">
                    <table>
                        <tr>
                            <td>Action name</td>
                            <td>Action path</td>
                            <td>Action docker image</td>
                            <td>Edit conf.</td><td>Build image</td>
                            <td>Remove action</td>
                        </tr>
                        {% for run_action in action_list.Run %}
                        <tr>
                            <td>{{ action_list.Run[run_action].name }}</td>
                            <td><code>{{ run_action }}</code></td>
                            <td><code>{{ action_list.Run[run_action].image }}</code></td>
                            <td><span class="main-right-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                            </span></td>
                            <td>
                            <span class="main-right-button">
                            <a href="{{ url_for('backstage_lang_build', lang_name=lang_name, group='Run', action=run_action) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box">
                                <path d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"></path>
                                <polyline points="2.32 6.16 12 11 21.68 6.16"></polyline>
                                <line x1="12" y1="22.76" x2="12" y2="11"></line>
                            </svg></a>
                            </span></td>
                            <td>
                            <span class="main-right-button">
                            <a href="{{ url_for('backstage_lang_actionremove', lang=lang_name, group='Run', id=run_action) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg></a>
                            </span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>