<h2>Import new language</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="text" name="lang_name" placeholder="Put language name here." /><br />
    <input type="file" name="file" id="file" />
    <input type="submit" value="Upload" />
</form>