<h2>Edit Language {{ lang_name }}</h2>

<h3>New Action</h3>
<form method="POST" enctype="multipart/form-data">
<input type="hidden" name="lang" value="{{ lang_name }}" />
Action group(Project/Build/Run): <input type="text" name="group" /><br />
Action name: <input type="text" name="name" /><br />
Action id: <input type="text" name="action_name" /><br />
Action package: <input type="file" name="file" id="file" /><br />
<input type="submit" value="Create action" />
</form>

<h3>Project</h3>
<table>
<tr><td>Action Name</td><td>Action ID</td><td>Image</td><td>Build</td><td>Remove</td></tr>
{% for run_action in action_list.Project %}
    <tr>
        <td>{{ action_list.Project[run_action].name }}</td>
        <td>{{ run_action }}</td>
        <td>{{ action_list.Project[run_action].image }}</td>
        <td><a href="{{ url_for('backstage_lang_build', lang_name=lang_name, group='Project', action=run_action) }}">Build</a></td>
        <td><a href="{{ url_for('backstage_lang_actionremove', lang=lang_name, group='Project', id=run_action) }}">Remove</a></td>
    </tr>
{% endfor %}
</table>


<h3>Build</h3>
<table>
<tr><td>Action Name</td><td>Action ID</td><td>Image</td><td>Build</td><td>Remove</td></tr>
{% for run_action in action_list.Build %}
    <tr>
        <td>{{ action_list.Build[run_action].name }}</td>
        <td>{{ run_action }}</td>
        <td>{{ action_list.Build[run_action].image }}</td>
        <td><a href="{{ url_for('backstage_lang_build', lang_name=lang_name, group='Build', action=run_action) }}">Build</a></td>
        <td><a href="{{ url_for('backstage_lang_actionremove', lang=lang_name, group='Build', id=run_action) }}">Remove</a></td>
    </tr>
{% endfor %}
</table>


<h3>Run</h3>
<table>
<tr><td>Action Name</td><td>Action ID</td><td>Image</td><td>Build</td><td>Remove</td></tr>
{% for run_action in action_list.Run %}
    <tr>
        <td>{{ action_list.Run[run_action].name }}</td>
        <td>{{ run_action }}</td>
        <td>{{ action_list.Run[run_action].image }}</td>
        <td><a href="{{ url_for('backstage_lang_build', lang_name=lang_name, group='Run', action=run_action) }}">Build</a></td>
        <td><a href="{{ url_for('backstage_lang_actionremove', lang=lang_name, group='Run', id=run_action) }}">Remove</a></td>
    </tr>
{% endfor %}
</table>