<h1>Languages</h1>

{% if actionmsg %}
    {{ actionmsg }}
{% endif %}

{% if not submode %}

{% include 'backstage/lang/import_new.html.jinja' ignore missing %}
<h2>Current supported languages</h2>
<table>
<tr><td>Language name</td><td>Edit</td><td>(Re)build All Command</td></tr>
{% for lang in supported_language %}
    <tr>
        <td>{{ lang }}</td>
        <td>
            <a href="{{ url_for('backstage_lang_edit', lang_name=lang) }}">Edit</a>
        </td>
        <td>
            <a href="{{ url_for('backstage_lang_buildall', lang_name=lang) }}">(Re)Build All</a>
        </td>
    </tr>
{% endfor %}
</table>
{% elif submode == 'edit' %}
{% include 'backstage/lang/lang_edit.html.jinja' ignore missing %}

{% endif %}