<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coderunner</title>
    <link rel="stylesheet" href="{{ config.general.hostname }}/static/node_modules/xterm/dist/xterm.css" />
    <script src="{{ config.general.hostname }}/static/node_modules/xterm/dist/xterm.js"></script>
    <script src="{{ config.general.hostname }}/static/main_script.js"></script>
    <script type="text/javascript" src="{{ config.general.hostname }}/static/socket.io.min.js"></script>
    <style>
    html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }
        body {
            height: 100%;
        }
        #dirtree {
            width: 20%;
            height: 100%;
            float: left;
        }
        #code-editor {
            width: 40%;
            height: 100%;
            float: left;
            border: 1px #000000 solid;
        }
        #workspace {
            width: 100%;
            height: 300px;
        }
        #terminal-wrapper {
            width: 40%;
            height: 100%;
            float: left;
        }
        .code-editor-button {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Coderunner</h1>
    <div id="login">
        {% if logged_in %}
        Welcome, {{ username }}. <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('signup') }}">Sign up</a> | <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
    <br />
    {% if logged_in %}
    <div id="workspace">
        <div id="dirtree">
            
        </div>
        <div id="code-editor-action">
            <span class="code-editor-button" id="code-editor-action-new">New</span>
            <span class="code-editor-button" id="code-editor-action-new-folder">New Folder</span>
            <span class="code-editor-button" id="code-editor-action-save">Save</span>
            <span class="code-editor-button" id="code-editor-action-delete">Delete</span>
            <span class="code-editor-button" id="code-editor-action-run">Run</span>
            <span id="actionmsg"></span>
        </div>
        <div id="code-editor"></div>
        
        <div id="terminal-wrapper" class="wrapper">
            <div id="terminal"></div>
        </div>

        <script type="text/javascript" src="{{ config.general.hostname }}/static/src/ace.js"></script>
        <script>
            GLOBAL.editor = ace.edit("code-editor");
        </script>
        <script type="text/javascript" src="{{ config.general.hostname }}/static/node_modules/xterm/dist/addons/fit/fit.js"></script>
        <script>
            GLOBAL.terminal = new Terminal();
            Terminal.applyAddon(fit);
            GLOBAL.terminal.open(document.getElementById('terminal'));
            GLOBAL.terminal.fit();
            GLOBAL.terminal.on('key', function(key, ev) {
                const printable = !ev.altKey && !ev.altGraphKey && !ev.ctrlKey && !ev.metaKey;
                if (key === '\r') {
                    key = '\r\n';
                }
                if (GLOBAL.socket) {
                    GLOBAL.socket.emit('keyin', {data: key});
                }
                GLOBAL.terminal.write(key);
            });
            GLOBAL.terminal.on('paste', function(pasted_data) {
                term.write(pasted_data);
                if (GLOBAL.socket) {
                    GLOBAL.socket.emit('keyin', {data: pasted_data})
                }
            });
            GLOBAL.socket = io.connect('http://' + document.domain + ':' + location.port);
            GLOBAL.socket.on('connect', function (x) {
                // console.log('connectd@');
            });
            GLOBAL.socket.on('msg', function (x) {
                // console.log(x);
                GLOBAL.terminal.write(x);
            });
            GLOBAL.socket.on('servermsg', function (x) {
                setActionMsg('Done running.');
            })

        </script>
        <script>
            // some initialization.
            getUserDirTree();
            document.getElementById('code-editor-action-new').onclick = function(e) { newFile(); };
            document.getElementById('code-editor-action-new-folder').onclick = function(e) { newFolder(); };
            document.getElementById('code-editor-action-save').onclick = function(e) { saveFile(); };
            document.getElementById('code-editor-action-delete').onclick = function(e) { deleteFile(); };
            document.getElementById('code-editor-action-run').onclick = function(e) { runFile(); };
            
        </script>
    </div>
    {% else %}
    <div>You need to login.</div>
    {% endif %}
</body>
</html>