{% if submode %}
    {% if submode == 'new' %}
        {% include 'new_backstage/users/user_new.html.jinja' ignore missing %}
    {% elif submode == 'edit' %}
        {% include 'new_backstage/users/user_edit.html.jinja' ignore missing %}
    {% elif submode == 'dirtree' %}
        {% include 'new_backstage/users/user_dirtree.html.jinja' ignore missing %}
    {% else %}
        {% include 'new_backstage/users/user_list.html.jinja' ignore missing %}
    {% endif %}
{% else %}
    {% include 'new_backstage/users/user_list.html.jinja' ignore missing %}
{% endif %}