            <div style="margin-block-end:30px">
                <span style="font-size:32px">User Management</span>
            </div>
            <div class="dirtree" style="margin-left:40px">

                <table>
                    <tr><td>ID</td><td>Username</td><td>Volume</td><td>Banned?</td><td>Edit</td><td>Volume backup</td><td>Remove</td></tr>
                    {% for user in user_list %}
                    <tr>
                        <td>{{ user.uid }}</td>
                        <td>{{ user.uname }}</td>
                        <td style="text-align: center">
                            <span class="main-right-button">
                            <a href="{{ url_for('backstage_users_workspace', id=user.uid) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hard-drive">
                                <line x1="22" y1="12" x2="2" y2="12"></line>
                                <path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path>
                                <line x1="6" y1="16" x2="6" y2="16"></line>
                                <line x1="10" y1="16" x2="10" y2="16"></line>
                            </svg></a>
                            </span>
                        </td>
                        <td style="text-align: center">
                            <span class="main-right-button">
                                {% if user.blocked %}
                                <a href="{{ url_for('backstage_users_ban', id=user.uid) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check">
                                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="8.5" cy="7" r="4"></circle>
                                        <polyline points="17 11 19 13 23 9"></polyline>
                                    </svg></a>
                                {% else %}
                                <a href="{{ url_for('backstage_users_ban', id=user.uid) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-slash">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="4.93" y1="4.93" x2="19.07" y2="19.07"></line>
                                    </svg></a>
                                {% endif %}
                            </span>
                        </td>
                        <td style="text-align: center">
                            <span class="main-right-button">
                            <a href="{{ url_for('backstage_users_edit', id=user.uid) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                                    <path d="M12 20h9"></path>
                                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                </svg></a>
                            </span>
                        </td>
                        <td style="text-align: center">
                            <span class="main-right-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box">
                                    <path d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"></path>
                                    <polyline points="2.32 6.16 12 11 21.68 6.16"></polyline>
                                    <line x1="12" y1="22.76" x2="12" y2="11"></line>
                                </svg>
                            </span>
                        </td>
                        <td style="text-align: center">
                            <span class="main-right-button">
                                <a href="{{ url_for('backstage_users_delete', id=user.uid) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-minus">
                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="8.5" cy="7" r="4"></circle>
                                    <line x1="23" y1="11" x2="17" y2="11"></line>
                                </svg></a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
