            <div style="margin-block-end:30px">
                <span style="font-size:32px">Editing User <code>{{ user.uname }}</code></span>
            </div>
            <div style="margin-left:40px">
                <form method="POST">
                    Username: <code>{{ user.uname }}</code><br />
                    New password: <input type="password" placeholder="Password" /><br />
                    Banned?: <input type="checkbox" value="banned" />Banned<br />
                    Volume: <a href="{{ url_for('backstage_users_workspace', id=user.uid) }}">Volume</a><br />
                    <input type="submit" value="Save" />
                </form>
            </div>