    <div style="margin-block-end:30px">
        <span style="font-size:32px">New User</span>
    </div>
    <div style="margin-left:40px">
        <form method="POST">
            Username: <input type="text" name="username" placeholder="Username" /><br />
            New password: <input type="password" name="password" placeholder="Password" /><br />
            Banned?: <input type="checkbox" name="banned" />Banned<br />
            Volume will be created after the new user is<br />
            <input type="submit" value="Save" />
        </form>
    </div>