
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>server.backstage - login</title>

    <style>
        html,
        body {
            background-color: black;
            height: 100%;
        }

        body {
            margin: 0px;
            color: white;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            background-color: black;
            text-align: center;
        }

        .form-signin {
          width: 100%;
          max-width: 330px;
          margin: auto;
        }
    </style>
  </head>
  <body class="text-center">
    <form class="form-signin" method="POST">
  <img class="mb-4" src="/static/assets/icon.svg" alt="" width="196" height="196">
  <h1 class="h3 mb-3 font-weight-normal">server.backstage</h1>
  <div>
        {% with msg = get_flashed_messages() %}
          {% if msg %}
            {{ msg[0] }}
          {% endif %}
        {% endwith %}
        {% if error %}
          {{ error }}
        {% endif %}
  </div>
  <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2019 Sebastian Lin</p>
</form>
</body>
</html>
