
<html>
  <head>
    <meta charset="utf-8" />
    <title>server.backstage :: coderunner.server</title>
    <link rel="stylesheet" type="text/css" href="{{ config.hostname }}/static/main.css" />
    <script src="{{ config.general.hostname }}/static/script.js"></script>
  </head>
  <body>
    <div class="header">
      <div>
      <h1>Server<br />Backstage<br /><span style="font-size:60%"></span></h1>
      <a href="{{ url_for('backstage_main') }}">Home</a><br />
      <a href="{{ url_for('backstage_users') }}">User</a><br />
        {% if mode == 'users' %}
          {% include 'users/sidebar.html.jinja' ignore missing %}
        {% endif %}
      <a href="{{ url_for('backstage_lang') }}">Language</a><br />
        {% if mode == 'lang' %}
          {% include 'lang/sidebar.html.jinja' ignore missing %}
        {% endif %}
      <a href="{{ url_for('backstage_config') }}">Config</a><br />
      <a href="{{ url_for('backstage_logout') }}">Logout</a><br />
      <br />
      coderunner.server<br />
      &copy; Sebastian Lin 2018
      </div><br />
      <div id="theme-switcher">
      <h2>Theme switch:</h2>
      <span class="themelink" onmousedown="themeswitch('normal')">Normal</span><br />
      <span class="themelink" onmousedown="themeswitch('urbandusk')">Urban Dusk</span><br />
      <span class="themelink" onmousedown="themeswitch('voiceofautumn')">Voice of Autumn</span><br />
      <span class="themelink" onmousedown="themeswitch('latenighthacker')">Late Night Hacker</span><br />
      <span class="themelink" onmousedown="themeswitch('atnight')">At Night</span><br />
      </div>
    </div>
    <div class="main">
    {% if mode == 'users' %}
      {% include 'backstage/users/main.html.jinja' ignore missing %}
    {% elif mode == 'lang' %}
      {% include 'backstage/lang/main.html.jinja' ignore missing %}
    {% elif mode == 'sandbox' %}
      {% include 'backstage/sandbox/main.html.jinja' ignore missing %}
    {% elif mode == 'config' %}
      {% include 'backstage/config/main.html.jinja' ignore missing %}
    {% else %}

    {% endif %}
    </div>
    <script>
      refreshTheme();
    </script>
  </body>
</html>
