<h1>User management</h1>


{% if submode %}
    {% if submode == 'new' %}
        {% include 'backstage/users/user_new.html.jinja' %}
    {% elif submode == 'edit' %}
        {% include 'backstage/users/user_edit.html.jinja' %}
    {% elif submode == 'terminal' %}
        {% include 'backstage/users/user_terminal.html.jinja' %}
    {% elif submode == 'dirtree' %}
        {% include 'backstage/users/user_dirtree.html.jinja' %}
    {% endif %}
{% else %}
<!-- no submod, list users -->
<a href="{{ url_for('backstage_users_new') }}">New User</a>
<table>
    <tr><td>UID</td><td>Username</td><td>Container name</td><td>Edit</td><td>Ban</td><td>Dir. tree</td><td>Delete</td></tr>
    {% for user in user_list %}
    <tr>
        <td>{{ user.uid }}</td>
        <td>{{ user.uname }}</td>
        <td>{{ user.sandbox_id }}</td>
        <td><a href="{{ url_for('backstage_users_edit', id=user.uid) }}">Edit</a></td>
        <td><a href="{{ url_for('backstage_users_ban', id=user.uid) }}">{{ 'Un-ban' if user.blocked else 'Ban' }}</a></td>
        <td><a href="{{ url_for('backstage_users_dirtree', id=user.uid) }}">Dir. tree</a></td>
        <td><a href="{{ url_for('backstage_users_delete', id=user.uid) }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}