<!DOCTYPE html>
    <html>
      <head>
        <link rel="stylesheet" href="{{ config.general.hostname }}/static/node_modules/xterm/dist/xterm.css" />
        <script src="{{ config.general.hostname }}/static/node_modules/xterm/dist/xterm.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    </head>
    <body>
      <div id="terminal"></div>
        <script>
        var term = new Terminal();
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        term.open(document.getElementById('terminal'));
        term.prompt = () => {
            term.write('\r\n');
        };

        term.on('key', function(key, ev) {
            const printable = !ev.altKey && !ev.altGraphKey && !ev.ctrlKey && !ev.metaKey;

            socket.emit('keyin', {data: key})
        });

        term.on('paste', function(pasted_data) {
            term.write(pasted_data);
            socket.emit('keyin', {data: pasted_data})
        });
        
        socket.on('connect', function(x) {
            // console.log('connectd@');
            socket.emit('AUTH', {type: 'admin'});
        });
        socket.on('msg', function(x) {
            // console.log(x);
            term.write(x);
        });
        </script>
    </body>
  </html>

  <!-- TODO:
  1. https://denibertovic.com/posts/handling-permissions-with-docker-volumes/
  2. nginx
  -->