<h2>New User</h2>

<form method="POST">
<input type="hidden" action="new_user" />
Username: <input name="username" placeholder="Username" /><br />
Password: <input type="password" name="password" placeholder="Password" /><br />
<input type="submit" value="New user" />
</form>