<h2>User editing</h2>

<form method="POST">
Username: {{ user.uname }}<br />
Password: <input type="password" name="password" value="{{ user.password }}" /><br />
Banned: <input type="checkbox" name="banned" /><br />
<input type="submit" value="Edit user" />
</form>