<h2>General</h2>
    <form action="{{ url_for('backstage_config') }}" method="POST">
    <input type="hidden" name="type" value="general" />
    Hostname: <input type="text" name="hostname" value="{{ config.general.hostname }}" />
    <input type="submit" value="Edit config" />
    </form>
