    <h1>Configuration</h1>
    Modifications will have no effects before restarting the application.
    {% if actionmsg %}
        {{ actionmsg }}
    {% endif %}
    {% include 'backstage/config/general.html.jinja' ignore missing %}
    {% include 'backstage/config/redis.html.jinja' ignore missing %}
    {% include 'backstage/config/mysql.html.jinja' ignore missing %}
    {% include 'backstage/config/sandbox.html.jinja' ignore missing %}