
    <h2>MySQL/MariaDB</h2>
    <form action="{{ url_for('backstage_config') }}" method="POST">
        <input type="hidden" name="type" value="mysql" />
        Hostname: <input type="text" name="hostname" value="{{ config.mysql.hostname }}" /><br />
        Portno: <input type="text" name="portno" value="{{ config.mysql.portno }}" /><br />
        DB Name: <input type="text" name="portno" value="{{ config.mysql.db_name }}" /><br />
        DB Username: <input type="text" name="portno" value="{{ config.mysql.db_username }}" /><br />
        DB Password: <input type="password" name="portno" value="{{ config.mysql.db_password }}" /><br />
        <input type="submit" value="Edit config" />
    </form>