    <h2>Redis</h2>
    <form action="{{ url_for('backstage_config') }}" method="POST">
        <input type="hidden" name="type" value="redis" />
        Hostname: <input type="text" name="hostname" value="{{ config.redis.hostname }}" /><br />
        Portno: <input type="text" name="portno" value="{{ config.redis.portno }}" /><br />
        <input type="submit" value="Edit config" />
    </form>
