        * {
            box-sizing: border-box;
        }

        html,
        body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
        }

        body {
            background-color: lightgray;
        }

        td {
            margin: 5px;
            padding: 5px;
        }

        .topbar {
            background-color: black;
            color: white;
            height: 24px;
            font-size: 16px;
            position: fixed;
            width: 100%;
            top: 0;

            padding-left: 8px;
            z-index: 30000000;
        }

        .topbar>a {
            color: white;
        }

        .main {
            box-sizing: border-box;
            z-index: 3000000;
        }

        .sidebar {
            background-color: darkslategray;
            color: white;
            height: calc(100vh - 24px);
            width: 20%;
            position: fixed;
            top: 24px;
            overflow: hidden;
            z-index: 3000000;

            padding: 8px;
        }

        .sidebar > a {
            color: white;
        }

        .sidebar-child {
            color: white;
            margin-left: 16px;
        }

        .sidebar-button {
            background: darkslategray;
            color: white;
            border-block-end: 1px slategray solid;
            padding-left: 5px;
            margin: 3px;
        }

        .sidebar-button > a {
            color: white;
        }

        .sidebar-child>.sidebar-button {
            color: white;
            border: 0;
            border-top: 1px slategray solid;
        }

        .main-right {
            position: relative;
            left: 20%;
            top: 24px;
            width: 80%;
            height: 100%;
            background-color: lightgray;
            overflow: auto;
            z-index: 0;

            padding: 8px;
        }

        .toolbar {
            position: fixed;
            bottom: 40px;
            right: 40px;
            background-color: darkslategray;
            color: white;
            padding: 5px;
            z-index: 30000000;


        }

        .toolbar-button {
            background-color: #4f6f6f;
            padding: 3px;
            margin: 3px;
            float: left;
        }

        .toolbar-button > a {
            color: white;
        }

        .direntry {
            border-bottom: 1px darkslategray solid;
            margin: 3px;
            font-size: 16px;
        }

        .direntry-child {
            margin-left: 32px;
        }

        .direntry-child>.direntry {
            border: 0;
            border-top: 1px darkslategray solid;
        }

        .direntry[selected] {
            background-color: #efefef;
        }

        .main-right-button {
            background-color: #efefef;
            text-align: center;
            padding: 5px;
        }

        .main-right-button > a {
            color: black;
        }

        .main-right-section[type="header"] {
            margin-block-end: 30px;
            
        }
        .main-right-section {
            margin-block-start: 30px;
            margin-block-end: 30px;
        }

        .main-right-section > .inside {
            margin-inline-start: 40px;
        }

        .main-right-section > h1 {
            font-size: 32px;
        }
        .main-right-section > h2 {
            font-size: 26px;
        }