
      body {
        padding: 0px;
        margin: 0px;
        font-family: serif;
        width: 100%;
      }
      a {
        color: inherit;
      }
      .header {
        background-color: inherit;
        width: 250px;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
        top: 10px;
        text-align: right;
        padding-right: 20px;
        float: left;
      }
.main {
    margin-left: 20%;
    padding-top: 50px;
}
#theme-switcher {
    font-size: 60%;
}
code {
    font-family: "DejaVu Sans Mono", "Consolas", monospace;
    font-size: 85%;
}
pre {
    font-family: "DejaVu Sans Mono", "Consolas", monospace;
    font-size: 85%;
}
.example-code {
    border: 1px solid white;
}