
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crimson CodeRunner Backstage</title>
    <link rel="stylesheet" type="text/css" href="{{ config.hostname }}/static/backstage.css" />
</head>

<body>
    <div class="topbar">
        Crimson CodeRunner Backstage | Welcome, administrator <code>{{ ADMIN_USERNAME }}</code>. <a href="#">Logout</a>
    </div>
    <div class="main">
        <div class="sidebar">
            <div class="sidebar-button">
                <a href="{{ url_for('backstage_main') }}">Home</a>
            </div>
            <div class="sidebar-button">
                <a href="{{ url_for('backstage_users') }}">Users</a>
            </div>
            <div class="sidebar-button">
                <a href="{{ url_for('backstage_lang_edit', lang_name='Java') }}">Actions</a>
            </div>
            <div class="sidebar-button">
                <a href="{{ url_for('backstage_config') }}">Server config</a>
            </div>
            <div class="sidebar-button">
                <a href="{{ url_for('backstage_logout') }}">Logout</a>
            </div>
        </div>
        <div class="main-right">
            {{ actionmsg }}
            {% if mode == 'main' %}
                {% include 'new_backstage/server_info/main.html.jinja' ignore missing %}
            {% elif mode == 'users' %}
                {% include 'new_backstage/users/main.html.jinja' ignore missing %}
            {% elif mode == 'lang' %}
                {% include 'new_backstage/lang_actions/main.html.jinja' ignore missing %}
            {% elif mode == 'config' %}
                {% include 'new_backstage/server_config/main.html.jinja' ignore missing %}
            {% else %}
                {% include 'new_backstage/server_info/main.html.jinja' ignore missing %}
            {% endif %}
        </div>

            {% if mode == 'users' %}
                {% if submode %}
                    {% if submode == 'list' %}
                        <div class="toolbar">{% include 'new_backstage/users/toolbar_user_list.html.jinja' ignore missing %}</div>
                    {% elif submode == 'dirtree' %}
                        <div class="toolbar">{% include 'new_backstage/users/toolbar_user_dirtree.html.jinja' ignore missing %}</div>
                    {% else %}
                        <div class="toolbar">{% include 'new_backstage/users/toolbar_user_list.html.jinja' ignore missing %}</div>
                    {% endif %}
                {% else %}
                    <div class="toolbar">{% include 'new_backstage/users/toolbar_user_list.html.jinja' ignore missing %}</div>
                {% endif %}
            {% endif %}
    </div>
</body>

</html>
<!--------------------------------------->
